:root {
    --second-color: #f5f6f7;
    --black-color: #0f2336;
    --black-hover: rgb(31, 30, 30);
    --blue: #00cccc;
    --white-color: #ffffffb2;
    --orange: #f3af47;
    --576D81: #576d81;
    --input-color: #f0f0f2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scroll-behavior: smooth;
    background-color: var(--white);
    font-family: "Roboto";
    font-weight: 400;
}

.container {
    margin: 0 auto;
    max-width: 1700px;
    padding: 0 80px;
}

.content-container {
    padding: 0 50px;
}

h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

main {
    flex-grow: 1;
}

.button {
    cursor: pointer;
    padding: 16px 42px;
    border-radius: 10px;
    line-height: 1.25;
    background: var(--black-color);
    text-decoration: none;
    color: var(--second-color);
    font-size: 20px;
    position: relative;
    transition-property: background, box-shadow;
    transition-duration: 0.5s;
}

.button:hover {
    background: var(--black-hover);
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
}

.blue-btn {
    cursor: pointer;
    border: none;
    background-color: var(--blue);
    border-radius: 14px;
    padding: 19px 21px;
    transition: box-shadow;
    transition-duration: 0.5s;
}

.blue-btn:hover {
    box-shadow: 0px 3px 18px 0px #00c9c98c;
}

.text-blue {
    color: var(--blue);
}

header {
    background-color: var(--second-color);
}

.header__content {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__nav-list {
    display: flex;
    gap: 50px;
    justify-content: end;
}

.header__list {
    color: var(--black-color);
    text-decoration: none;
}

.header__nav {
    flex-grow: 1;
}

.buy-btn {
    cursor: pointer;
    border: none;
    background-color: var(--blue);
    border-radius: 14px;
    padding: 16px 35px 17px 36px;
    transition: box-shadow;
    transition-duration: 0.5s;
}

.buy__btn-text {
    display: flex;
}

.buy__btn {
    display: flex;
    position: absolute;
    top: 3980px;
    left: 1100px;
}

.buy-btn:hover {
    box-shadow: 0px 3px 18px 0px #00c9c98c;
}

.hero {
    padding-top: 73px;
    background-color: var(--second-color);
    transform: translateY(-1px);
}

.hero__content {
    position: relative;
    display: flex;
    min-height: 560px;
}

.hero__block-left {
    position: relative;
    z-index: 1;
    padding-top: 20px;
    width: 100%;
    width: max-content;
    flex-shrink: 0;
}

.hero__block-right {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.hero__img {
}

.hero__btn-text {
    display: flex;
}

.hero__btn {
    display: flex;
    padding-right: 35px;
}

.hero__btn-svg {
    margin-left: 15px;
    transition: transform 0.5s;
}

.hero__btn:hover .hero__btn-svg {
    transform: translateX(14px);
}
.hero__title {
    display: flex;
    flex-direction: column;
    font-size: 55px;
    font-weight: 700;
    line-height: 75.9px;
    letter-spacing: 1.1px;
}

.hero__point {
    font-size: 40px;
}

.hero__btn {
    display: flex;
    margin-top: 52px;
}

.text-orange {
    color: var(--orange);
}

.priority {
    padding: 100px 0;
}

.priority__list {
    display: flex;
    gap: 52px;
}

.howwork {
    padding: 100px 0;
}

.howwork__content {
    display: flex;
    justify-content: center;
}

.exclusive {
    padding: 10px 0;
    background-color: var(--second-color);
}

.gifts {
    padding: 180px 0;
}

.gifts__content {
    display: flex;
    justify-content: center;
}

.request {
    padding: 180px 0;
}

.request__content {
    margin: 0 auto;
    width: 570px;
    max-width: 100%;
}

.request__svg {
    display: flex;
    justify-content: center;
}

.request__title {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.request__form {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
}

.request__label {
    display: flex;
    gap: 16px;
    font-size: 18px;
    width: 100%;
}

.request__input {
    width: 100%;
    border-radius: 6px;
    padding: 16px 20px;
    background-color: var(--input-color);
    outline: none;
    border: none;
    text-align: center;
}

.request__btn {
    flex-shrink: 0;
    background-color: var(--blue);
    border: none;
    border-radius: 14px;
    padding: 16px 35px 17px 36px;
    cursor: pointer;
    transition: box-shadow 0.5s;
}

.request__btn:hover {
    box-shadow: 0px 3px 18px 0px #00c9c98c
}

.request__btn-text {
    font-size: 18px;
    display: flex;
}

.download__apps {
    display: flex;
    gap: 24px;
  
}

.footer {
    position: relative;
    margin-top: 30px;
    background-color: var(--black-color);
}

.footer__leafe {
    position: absolute;
    bottom: 0;
    left: 0;
    width: clamp(100px, 10vw, 172px);
    transform: translateY(-20%);
}

.footer__leafe-2 {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: clamp(90px, 10vw, 150px);
    transform: translateY(-20%);
}

.footer__content {
    position: relative;
    z-index: 1;
    display: flex;
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 100px;
}

.footer__nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 80px;
}

.footer__nav-block {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.footer__nav h3 {
    color: var(--blue);
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer__link {
    color: var(--white-color);
    text-decoration: none;
    transition: color 0.7s;
}

.footer__link:hover {
    color: var(--second-color);
}
